@import "tailwindcss";

[data-theme="light"] {
    --bg: #ffffff;
    --primary: #1f1f1f;
    --secondary: #323232;
    --tertiary: #676767;
    --lines: #dbdbdb;
    --links: #4e86db;
}

[data-theme="dark"] {
    --bg: #1d1d1d;
    --primary: #ffffff;
    --secondary: #d4d4d4;
    --tertiary: #b0b0b0;
    --lines: #3a3a3a;
    --links: #ac8bff;
}

body {
    height: 100%;
    font-family: "Onest", serif;
    background-color: var(--bg);
    color: var(--primary);
}

::-webkit-scrollbar {
    width: 0px;
}

p {
    color: var(--secondary)
}

.serif {
    font-family: "Aleo", serif;
}

.grid-pattern {
    background-image:
        linear-gradient(to right, var(--lines) 1px, transparent 1px),
        linear-gradient(to bottom, var(--lines) 1px, transparent 1px);
    background-size: 24px 24px;
    position: absolute;
    overflow: hidden;
    mask-image: radial-gradient(circle 75px at var(--x, 50%) var(--y, 50%), rgba(0, 0, 0, 1) 00%, rgba(0, 0, 0, 0) 100%);
    transition: mask-image 0.1s;
}

p a {
    color: var(--links);
}

p a:hover {
    opacity: 90%;
}